{% extends "base/base.html" %}
{% load static %}

{% block body %}
    <img class="mb-4" src="{% static 'images/logo.png' %}" width="40" height="40" >
    <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <style>
         .logo {
               margin-bottom: 20px;
         }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }
    </style>
{% endblock %}
